body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #3d3d3d;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  margin-bottom: 5%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:not(:first-child):hover{
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none !important;
    display: block;
    text-align: left;
  }
}


 input{
    position: absolute;
    display: block;
    width: 69%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

.btnAddAction {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #efefef;
    border: #E0E0E0 1px solid;
    color: #211a1a;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}


#users {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  /*border-collapse: collapse;
  width: 90%;*/
}

table {
    /*border-collapse: collapse;
    width: 90%;
    margin: 4rem auto;*/
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th{
  background-color: black;
  color: white;
}


tr:hover {
  background-color: #4CAF50; 
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: white;
}

.button{
  padding: 6px 12px;
  color: #fff;
    background-color: black;
    border: none;
    font-size: 10px;
    text-decoration: none;
}